.card{
    display: inline-block;
    margin: 70px 0px 0px 50px;
    box-shadow: 0px 4px 4px 0px;
}
body{
    background-color: #EAE7B4;
}
section{
    padding-bottom: 70px
}
.Asd{
    background-color: beige;
    padding-left: 25px;
    padding-right: 70px;
    padding-top: 40px;
    vertical-align: initial;
}
.list-group-item{
    color: red;
}
.foot{
    background-color: brown;
}
p{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}
.ech{
    text-align: center;
    color: black;
}
a.aa: hover{
    color: red;
}
